<p id="notice"><%= notice %></p>
<br/>

<h4 class="heading-1 clearfix">
    <i class="glyph-icon icon-tags heading-icon"></i>
    <div class="heading-content">
       <%=  'Datos de la Institución'%>.
        <small>
			 <p>
			  <strong>Nombre:</strong>
			  <%= @institution.nombre %>
			</p>
        </small>
    </div>
</h4>


<%= link_to 'Editar', edit_institution_path(@institution) %> |
<%= link_to 'Volver', institutions_path %>
