<p id="notice"><%= notice %></p>
<br/>

<h4 class="heading-1 clearfix">
    <i class="glyph-icon icon-tags heading-icon"></i>
    <div class="heading-content">
       <%=  'Datos de la Ayuda'%>.
        <small>
			<p>
			  <strong>Nombre:</strong>
			  <%= @ayuda.nombre %>
			</p>
        </small>
    </div>
</h4>


<%= link_to 'Editar', edit_ayuda_path(@ayuda) %> |
<%= link_to 'Volver', ayudas_path %>
