<div class="nested-fields">
        <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Familiares </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                          <%= f.input :nombre , :placeholder=>'Nombre' %>

                        </div>
                        <div class="col-md-2">
                         <%= f.input :apellido , :placeholder=>'Apellido'%>
                        </div>
                        <div class="col-md-2">
                          <%= f.input :cedula, label: "Cedula", :placeholder=>"Cedula de Identidad"%>
                         <%#= f.input :parentesco, collection: ['Padre','Madre', 'Abuelo(a)', 'Tio(a)','Primo(a)', 'Hijo(a)','Sobrino(a)','Nieto(a)','Esposo(a)', 'Yerno(a)', 'Suegro(a)', 'Cuñado(a)'], label: "Parentesco",  prompt: 'Seleccione el parentesco'%>
                        </div>
                        <div class="col-md-2">

                         <%= f.input :parentesco, collection: ['Padre','Madre', 'Hermano(a)','Abuelo(a)', 'Tio(a)','Primo(a)', 'Hijo(a)','Sobrino(a)','Nieto(a)','Esposo(a)', 'Yerno(a)', 'Suegro(a)', 'Cuñado(a)','Concubino(a)'], label: "Parentesco",  prompt: 'Seleccione el parentesco'%>
                        </div>
                        <div class="col-md-2">
                        <div class="bfh-datepicker">

                         <%= f.input :fecha_nac,  as: :date, html5: true, label: 'Fecha de Nacimiento'%>
</div>

                        </div>



                    </div>
                </div>

      <div class="col-md-6">
        <%= link_to_remove_association  f,  :class=> "btn medium bg-red" do%>
          <span class="button-content text-transform-upr font-bold font-size-11">Remover Familiar</span>
        <%end %>

      </div>
 </div>
</div>
<hr />
