<%= simple_form_for @persona, :html=> { class: 'form-row' }  do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-input col-md-12">
    <div class="col-md-6">
      <%= f.input :nombre1,label: 'Primer Nombre' %>
    </div>
    <div class="col-md-6">
      <%= f.input :nombre2 ,label: 'Segundo Nombre'%>
    </div>
    <div class="col-md-6">
      <%= f.input :apellido1,label: 'Primer Apellido' %>
    </div>
    <div class="col-md-6">
      <%= f.input :apellido2 ,label: 'Segundo Apellido'%>
    </div>
    <div class="col-md-6">
      <%= f.input :cedula,label: 'Cedula de identidad' %>
    </div>
    <div class="col-md-6">
      <%= f.input :direccion,label: 'Direccion' %>
    </div>
    <div class="col-md-6">
      <%= f.input :referencia ,label: 'Referencia'%>
    </div>
    <div class="col-md-6">
      <%= f.input :municipio,label: 'Municipio' %>
    </div>
    <div class="col-md-6">
      <%= f.input :parroquia,label: 'Parroquia' %>
    </div>
    <div class="col-md-6">
      <%= f.input :telefono1 ,label: 'Telefono'%>
    </div>
    <div class="col-md-6">
      <%= f.input :telefono2,label: 'Otro telf' %>
    </div>

<h2>Estudio Socio Economico</h2>
    <%= f.simple_fields_for :economy do |economy| %>
          <div class="col-md-6">
            <%= economy.input :sector %>
          </div>
          <div class="col-md-6">
            <%= economy.input :empresa %>
          </div>
          <div class="col-md-6">
            <%= economy.input :ingreso_familiar %>
          </div>
          <div class="col-md-6">
            <%= economy.input :tipo_casa %>
          </div>
          <div class="col-md-6">
            <%= economy.input :condiciones_de_vivienda %>
          </div>
          <div class="col-md-6">
            <%= economy.input :persona_hab %>
          </div>
          <div class="col-md-6">
            <%= economy.input :cant_hijos %>
          </div>
          <div class="col-md-6">
            <%= economy.input :enceres_compartidos %>
          </div>
          <div class="col-md-6">
            <%= economy.input :adultos_mayores %>
          </div>
          <div class="col-md-6">
            <%= economy.input :discapacitados %>
          </div>
          <div class="col-md-6">
            <%= economy.input :enfermos %>
          </div>
          <div class="col-md-6">
            <%= economy.input :pobreza_extrema%>
          </div>
          <div class="col-md-6">
            <%= economy.input :descripcion %>
          </div>

    <% end %>

<h2>Conclusiones</h2>
<%= f.simple_fields_for :conclusions do |conclusion|%>
      <div class="col-md-6">
        <%= conclusion.input :solicitud %>
      </div>
      <div class="col-md-6">
        <%= conclusion.input :estado %>
      </div>
      <div class="col-md-6">
        <%= conclusion.input :fecha %>
      </div>
      <div class="col-md-6">
        <%= conclusion.input :_destroy, label: "remover" ,as: :check_boxes%>
      </div>

<% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
