 <p style='page-break-after:always;'>

 <div align="right"><em>Reporte generado por la Coord. de Informatica y Sistemas el <%=Time.now.strftime("%d/%m/%Y a las %I:%M")%></em></div>
 <hr />

 <b><%= @texto %></b><br />
 <% if !@institucion.blank? %>
 <% if @ins %>
<b>Institucion: <%= @institucion.last.institution %> </b>
<br/> <br />
<% else %>
<br/>
<% end %>


<table class="table-striped table-hover table-bordered table-condensed">
		<tr >
		<th>#No</th>
		<th>CEDULA</th>
		<th>NOMBRE Y APELLIDOS</th>
		<th>DIRECCION</th>
		<th>TELEFONO</th>
		<th>AYUDA (ESTADO)</th>
    <%   if @ban2==true  %>
    <th>SECTOR</th>
    <% end %>
    <%   if @ban1==true  %>
    <th>FECHA</th>
    <% end %>
  <%   if @ban==true  %>
  <th>Municipio </th>
<% end %>
  <% nor=0 %>  <% urg=0 %>  <% no=0 %>
	</tr>


	<% if !@institucion.blank?  %>
	<% @institucion.each_with_index do |item, index|%>
		    	<tr>
		    				<th><%= index+1 %></th>
                 <%@total=index%>
  							<th><%=item.cedula %></th>
							<th><%=item.nombres.upcase%></th>
							<th><%=item.direccion.upcase%></th>
							<th><%=item.telefono1%></th>
              <th>
              <%#=item.ayuditas %> <%#=item.estado %>
              <% if !@listado_ayudas.blank? %>
							  <% @listado_ayudas.each_with_index do |ayudas, index1|  %>
							   <% if ayudas.id == item.id%>
                          <% if ayudas.estado=='Normal'%>
                            <% nor=nor+1%>
                          <% else %>
                              <% if ayudas.estado=='Urgente'%>
                                <% urg=urg+1%>
                              <% else %>
                                 <% no=no+1%>
                              <% end %>
                          <% end %>
							  	       	- <%=ayudas.ayuditas%>	(<%=ayudas.estado%>)<br/>
									<% end -%>

							  <% end %>
							<% end %>

							</th>
              <%   if @ban2==true  %>
              <th><%= item.sector.upcase %></th>
              <% end %>
              <%   if @ban1==true  %>
              <th> <%=item.fecha.strftime("%d/%m")%> </th>
              <% end %>
              <%   if @ban==true  %>
                <th> <%= item.municipio.upcase%> </th>
              <% end %>

				</tr>

		  <% end %>
	<%end %>



</table>
 <hr />
 <div align="left"><b>TOTAL DE FAMILIAS VISITADAS: <%= @total+1 %></b></div>
 <div align="left"><b>TOTAL DE SOLICITUDES: <%= nor+urg+no %> - TOTAL NORMALES: <%= nor %> - TOTAL URGENTES: <%= urg %> - TOTAL NO PROCEDE: <%= no %></b></div>

<%else%>
<br/>
  <strong><b>No existen resultados para esa consulta </b></strong>
<% end %>
</p>
