 <p style='page-break-after:always;'>
 <div align="right"><em>Reporte generado por la Coord. de Informatica y Sistemas el <%=Time.now.strftime("%d/%m/%Y a las %I:%M")%></em></div>
 <hr />
 <%#= @p.inspect%>
 <% localidad="" %>
<% if !@resultado.blank? %>
  <b>Reporte Genenal<b/><br />
  <b><%= @texto %></b>
<% total_g=0 %><% nor=0 %><% urg=0 %><% no=0 %>
<br />
<br />
<table class="table-striped table-hover table-bordered table-condensed">
	<tr >
		<th>INSTITUCION</th>
		<th>AYUDAS</th>
		<th colspan="2"></th>
		<th colspan="2">SOLICITUDES</th>

		<th></th>

	</tr>
	<tr>
		<th></th>
		<th></th>
		<th colspan="2">NORMALES</th>
		<th colspan="2">URGENTES</th>
    <th colspan="2">NO PROCEDE</th>
		<th colspan="0">TOTALES</th>
	</tr>

  <% for item in @resultado %>
  <%# localidad=localidad+item.sector+' - '+item.fecha.strftime("%d/%m")+' ; ' %>
  <%#= localidad.inspect %>

<tr>
	<td><%= item.institucion_nombre %> </td>
	<td><%= item.nombre.upcase %></td>
	<td colspan="2" align="center">

		<% if !@normal.blank? %>
			  <% for item2 in @normal %>
			        <%= item2.cuenta if (item2.id==item.id) %>
                    <%nor=nor+item2.cuenta if (item2.id==item.id)%>
			           	<% item2 = @normal.length+1 %>


			  <% end %>
		<% end %>


	</td>

	<td colspan="2" align="center">
			<% if !@urgente.blank? %>
			  <% for item1 in @urgente %>
			        <%= item1.cuenta if (item1.id==item.id) %>
                   <%urg=urg+item1.cuenta if (item1.id==item.id) %>
			           	<% item1 = @urgente.length+1 %>

			  <% end %>

		<% end %>

	</td>
  <td colspan="2" align="center">
			<% if !@nop.blank? %>
			  <% for item3 in @nop %>
			        <%= item1.cuenta if (item3.id==item.id) %>
                   <%no=no+item3.cuenta if (item3.id==item.id) %>
			           	<% item1 = @nop.length+1 %>

			  <% end %>

		<% end %>

	</td>
	<td colspan="0" align="center"><%= item.cuenta %><% total_g=total_g+item.cuenta%></td>

</tr>
  <% end %>
<% else %>
<br/>
  	 No hay datos en esta Consulta
<% end %>
<tfoot align="center">
	<th colspan="2" >Totales</th>
	<th colspan="2" > <%= nor%></th>
	<th colspan="2"> <%= urg %></th>
  	<th colspan="2"> <%= no %></th>
	<th> <%= total_g %></th>
	</tfoot>
</table>
<strong><%#=localidad%></strong>

</p>
