<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre1:</strong>
  <%= @persona.nombre1 %>
</p>

<p>
  <strong>Nombre2:</strong>
  <%= @persona.nombre2 %>
</p>

<p>
  <strong>Apellido1:</strong>
  <%= @persona.apellido1 %>
</p>

<p>
  <strong>Apellido2:</strong>
  <%= @persona.apellido2 %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @persona.cedula %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @persona.referencia %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @persona.municipio %>
</p>

<p>
  <strong>Parroquia:</strong>
  <%= @persona.parroquia %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @persona.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @persona.telefono2 %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
